* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: antiquewhite;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.encode {
    display: flex;
    flex-direction: column;
}